# Data Load

In [1]:
import os
import json
from tqdm import tqdm
import pandas as pd
from pandas.io.json import json_normalize

import config
from pshmodule.utils import filemanager as fm

In [2]:
file_list = []
data_path = config.train_path
dir_path = data_path
for (root, directories, files) in os.walk(dir_path):
    for file in files:
        file_path = os.path.join(root, file)
        file_list.append(file_path.replace(data_path, ''))

In [3]:
for k, v in tqdm(enumerate(file_list)):
    try:
        with open(data_path + v, encoding='utf-8') as f:
            js = json.loads(f.read())
        globals()[f"df_{k}"] = json_normalize(js, 'info')
    except Exception as e:
        print(file_path + v)

0it [00:00, ?it/s]<ipython-input-3-807406e6f240>:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  globals()[f"df_{k}"] = json_normalize(js, 'info')
87689it [02:00, 729.07it/s]

In [4]:
print(len(file_list))

87689

In [5]:
# df_1 ~ df_87688

In [6]:
print(df_1['annotations.text'][0])

1 : 전기료가 오른다네... 세상에나
2 : 아 맞어 키로와트당 40원?
1 : 안 오르는 게 없어요
2 : 물가는 다 오르는데 인건비는 왜.
1 : 알제 전기료 오르면 모든 게 다 오른다고
2 : 도대체 인건비는 왜 안 오르냐고
1 : 키키 내 말이 또 최저 시급은 오르던데
2 : 아니 인건비가 아니라 임금이지
1 : 월급은 최저 시급이랑 노 상관인 듯
2 : 아니 진짜 너무하네
1 : 키키 요즘 편의점 다 사장님이 보심
2 : 물가가 오르면 당연히 월급도 올라야지
1 : 내 말이 식비가 어마어마한데
2 : 굶어 죽으라는 거임 뭐임 ㅡㅡ
1 : 마즘 물가가 미친 듯이 치솟음
2 : 진짜 심하다 심해 야채들 가격도

#

# Data Merge

In [7]:
files = [eval("df_" + str(i)) for i in range(len(file_list))]

In [8]:
df = pd.concat(files)

In [9]:
df.reset_index(inplace=True)

In [10]:
df.shape

(87689, 15)

In [11]:
df.head()

,index,id,filename,title,mediatype,medianame,category,date,size,annotations.subject,annotations.speaker_type,annotations.size,annotations.word_size,annotations.text,annotations.lines
0,0,133547,KAKAO_1702_04.txt,KAKAO_1702_04,SNS,카카오톡,일상대화,2021-11-03,499,회사/아르바이트,1:1,499,167,1 : 이제 위드 코로나 하면 회식 시작하겠구만 키키\n2 : 11월달부터 위드 코...,"[{'id': 1, 'text': '1 : 이제 위드 코로나 하면 회식 시작하겠구만..."
1,0,67428,KAKAO_1232_14.txt,KAKAO_1232_14,SNS,카카오톡,일상대화,2021-10-14,333,사회이슈,1:1,333,110,1 : 전기료가 오른다네... 세상에나\n2 : 아 맞어 키로와트당 40원?\n1 ...,"[{'id': 1, 'text': '1 : 전기료가 오른다네... 세상에나', 'n..."
2,0,63922,KAKAO_1169_13.txt,KAKAO_1169_13,SNS,카카오톡,일상대화,2021-10-13,836,계절/날씨,다자간 대화,836,273,1 : 오늘 아침에 비 많이 왔쪄 ㅠ\n2 : 맞아요 ㅠㅠ 지난 새벽부터 엄청 내렸...,"[{'id': 1, 'text': '1 : 오늘 아침에 비 많이 왔쪄 ㅠ', 'no..."
3,0,82961,KAKAO_1459_03.txt,KAKAO_1459_03,SNS,카카오톡,일상대화,2021-10-20,599,교통,다자간 대화,599,213,1 : 비행기 타고 싶다\n2 : 진짜 언제 탈 수 있네 **이랑 탄 게 마지막.....,"[{'id': 1, 'text': '1 : 비행기 타고 싶다', 'norm_text..."
4,0,111343,KAKAO_1635_15.txt,KAKAO_1635_15,SNS,카카오톡,일상대화,2021-10-29,540,타 국가 이슈,1:1,540,174,1 : 미국 열차 안에서 성폭행 사건 있었대 ㅠㅠ\n2 : 열차 안에서?\n2 : ...,"[{'id': 1, 'text': '1 : 미국 열차 안에서 성폭행 사건 있었대 ㅠ..."

In [12]:
df = df[['medianame', 'annotations.subject', 'annotations.speaker_type', 'annotations.text']]

In [13]:
df.head()

,medianame,annotations.subject,annotations.speaker_type,annotations.text
0,카카오톡,회사/아르바이트,1:1,1 : 이제 위드 코로나 하면 회식 시작하겠구만 키키\n2 : 11월달부터 위드 코...
1,카카오톡,사회이슈,1:1,1 : 전기료가 오른다네... 세상에나\n2 : 아 맞어 키로와트당 40원?\n1 ...
2,카카오톡,계절/날씨,다자간 대화,1 : 오늘 아침에 비 많이 왔쪄 ㅠ\n2 : 맞아요 ㅠㅠ 지난 새벽부터 엄청 내렸...
3,카카오톡,교통,다자간 대화,1 : 비행기 타고 싶다\n2 : 진짜 언제 탈 수 있네 **이랑 탄 게 마지막.....
4,카카오톡,타 국가 이슈,1:1,1 : 미국 열차 안에서 성폭행 사건 있었대 ㅠㅠ\n2 : 열차 안에서?\n2 : ...

#

# Data Save

In [14]:
import config
from pshmodule.utils import filemanager as fm

In [15]:
fm.save(config.data_path, df)

Saved 87689 records