# Data Load

In [1]:
import config
from pshmodule.utils import filemanager as fm

In [2]:
df = fm.load(config.data_path)

extension : .pickle
Loaded 87689 records from /home/jovyan/shpark-datashare/data/practice/generation_model/data/data.pickle

In [3]:
df.head()

,medianame,annotations.subject,annotations.speaker_type,annotations.text
0,카카오톡,회사/아르바이트,1:1,1 : 이제 위드 코로나 하면 회식 시작하겠구만 키키\n2 : 11월달부터 위드 코...
1,카카오톡,사회이슈,1:1,1 : 전기료가 오른다네... 세상에나\n2 : 아 맞어 키로와트당 40원?\n1 ...
2,카카오톡,계절/날씨,다자간 대화,1 : 오늘 아침에 비 많이 왔쪄 ㅠ\n2 : 맞아요 ㅠㅠ 지난 새벽부터 엄청 내렸...
3,카카오톡,교통,다자간 대화,1 : 비행기 타고 싶다\n2 : 진짜 언제 탈 수 있네 **이랑 탄 게 마지막.....
4,카카오톡,타 국가 이슈,1:1,1 : 미국 열차 안에서 성폭행 사건 있었대 ㅠㅠ\n2 : 열차 안에서?\n2 : ...

###

# EDA

In [4]:
print(df['annotations.text'][30000])

1 : 샘그때 어머님 환갑 준비한다고 하셨는데 뭐해요 키키
2 : 쌤 안그래도 물어볼려고 했는데
2 : 쌤 아버님 환갑때 식사 어디서 하셨나요?
1 : 샘도 자주가는 오리고기집이요 키키
1 : 이름이 기억안나네
1 : **동에 있는데
2 : 아! 솔밭가든이요
2 : 울산 오리고기 하면 솔밭가든이죠 키키
2 : 근데 요즘 코로나때문에 식사나 할 수 있을지 모르겠어요
1 : 아 샘 그러면 집에서 먹어야겠네요
1 : 생각해놓은거있어요? 키키
2 : 12월이라서 상황을 지켜봐야할거 같긴한데...
2 : 집에서 먹으면 배달 음식 먹겠죠? 키키
2 : 쌤 혹시... 선물은 그냥 용돈이였나요?
1 : 아 샘 12월이면 아직 멀었네 키키
1 : 준비할 시간이 많군요
1 : 네샘 현금드렸습니다 ...
1 : 현금 제일 좋아하실것같아요 키키
2 : sns 보니까 풍선 현수막 이런거 이쁘게 많이 하더라고요
2 : 검색 좀 해봐야겠어요 키키

In [5]:
df.shape

(87689, 4)

In [6]:
print(df['medianame'].value_counts())
print("-"*30)
print(df['annotations.subject'].value_counts())
print("-"*30)
print(df['annotations.speaker_type'].value_counts())

카카오톡     71783
페이스북      7918
인스타그램     4777
네이버밴드     1614
네이트온      1597
Name: medianame, dtype: int64
------------------------------
미용          4675
스포츠/레저      4642
교육          4575
가족          4521
상거래 전반      4514
영화/만화       4503
교통          4474
여행          4464
회사/아르바이트    4459
건강          4454
연애/결혼       4356
게임          4352
계절/날씨       4347
방송/연예       4323
사회이슈        4281
주거와 생활      4259
반려동물        4234
군대          4151
식음료         4132
타 국가 이슈     3969
상거래전반          4
Name: annotations.subject, dtype: int64
------------------------------
1:1       64048
다자간 대화    23641
Name: annotations.speaker_type, dtype: int64

### only 1:1

In [7]:
df_temp = df[df['annotations.speaker_type'] == '1:1']

###

# Preprocessing

In [8]:
import re

In [9]:
def preprocessing(x):
    result = x.replace('\n', ' ').replace('키키', '').replace('하하', '').replace('히히', '')
    # result = re.sub('([ㄱ-ㅎㅏ-ㅣ])+', '', result)
    
    result = result.lower()
    return result

In [10]:
# test = preprocessing('왜그러냐 증말 ㅡㅡ ㅎㅎ')
# print(test)

In [11]:
# df_temp['content'] = df['annotations.text'].apply(preprocessing)

In [12]:
print(df['annotations.text'][0])

1 : 이제 위드 코로나 하면 회식 시작하겠구만 키키
2 : 11월달부터 위드 코로나 하려나 보던데요 키키
1 : 그러게 슬슬 준비하고 있네 키키
2 : 키키 회식 좋아하는 사람들에게 희소식이겠네요
1 : 그러게 키키 신입 사원들은 이제 큰일이네
2 : 아 그렇겠네요 키키
2 : 신입들은 회식을 피하고 싶겠네요
1 : 키키 뭐 글도 올라온대 키키 회식 어떻게 하냐고
2 : 키키 회식 문화 좀 사라질 줄 알았는데 더 가열차지는 거 아니에요
1 : 키키 그러게 키키 난리 나겠다
1 : 진짜 송년회 신년회 다 할 듯
2 : 와 키키 생각만 해도 술 냄새 나네요 키키
1 : 키키 이제 술술술 시작인가요 키키
2 : 키키 전 술 좋아해서 별 생각 없긴 한데
1 : 키키 뭐 그러면 공짜 술 먹고 좋지
1 : 아직 체력이 좋네
2 : 키키 형은 회식 별로 안 좋아하나 봐요?
1 : 좋아는 하지만 이제 다음날 출근이 힘들어서 키키
1 : 출근 안 하고 회식했으면
2 : 아 그거 인정이요 키키
2 : 술 마시고 담날 푹 자고 싶어요

In [13]:
df_temp.reset_index(drop=True, inplace=True)

In [14]:
df_temp.head()

,medianame,annotations.subject,annotations.speaker_type,annotations.text
0,카카오톡,회사/아르바이트,1:1,1 : 이제 위드 코로나 하면 회식 시작하겠구만 키키\n2 : 11월달부터 위드 코...
1,카카오톡,사회이슈,1:1,1 : 전기료가 오른다네... 세상에나\n2 : 아 맞어 키로와트당 40원?\n1 ...
2,카카오톡,타 국가 이슈,1:1,1 : 미국 열차 안에서 성폭행 사건 있었대 ㅠㅠ\n2 : 열차 안에서?\n2 : ...
3,카카오톡,군대,1:1,1 : 남자친구는 육군 나왔어~?\n2 : 육군 나왔어ㅋ 50사단인가?\n1 : 육...
4,카카오톡,영화/만화,1:1,1 : 너는 최근에 무슨 영화 봤어? 키키\n2 : 최근에 영화관 간 기억이 없네요...

In [15]:
# re.sub(r" ?\d ?: ?", "\n---\n", df_temp.iloc[0, 4])

###

# Transform

In [16]:
import swifter
import pandas as pd

### 개행 문자 split

In [17]:
df_temp['split_text'] = df_temp['annotations.text'].apply(lambda x: x.split('\n'))

<ipython-input-17-b64579e90c15>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['split_text'] = df_temp['annotations.text'].apply(lambda x: x.split('\n'))

###

### 같은 화자 합치기

In [18]:
def transform(text):
    result = []
    temp = []
    for i in text:
        i = preprocessing(i)
        
        if len(temp) != 0:
            # 1, 2로 시작 안하면 제거
            if i[:3] != '1 :' and i[:3] != '2 :':
                pass
            # temp에 있으면 합치기
            elif temp[0][:3] == i[:3]:
                temp.append(i)
            elif temp[0][:3] != i[:3]:
                result.append(' '.join(temp))
                temp = []
                temp.append(i)
        else:
            temp.append(i)

    return result

In [19]:
df_temp['content'] = df_temp['split_text'].swifter.apply(transform)

Pandas Apply:   0%|          | 0/64048 [00:00<?, ?it/s]

<ipython-input-19-e8e7b4a83bc7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['content'] = df_temp['split_text'].swifter.apply(transform)

In [20]:
df_temp.head()

,medianame,annotations.subject,annotations.speaker_type,annotations.text,split_text,content
0,카카오톡,회사/아르바이트,1:1,1 : 이제 위드 코로나 하면 회식 시작하겠구만 키키\n2 : 11월달부터 위드 코...,"[1 : 이제 위드 코로나 하면 회식 시작하겠구만 키키, 2 : 11월달부터 위드 ...","[1 : 이제 위드 코로나 하면 회식 시작하겠구만 , 2 : 11월달부터 위드 코로..."
1,카카오톡,사회이슈,1:1,1 : 전기료가 오른다네... 세상에나\n2 : 아 맞어 키로와트당 40원?\n1 ...,"[1 : 전기료가 오른다네... 세상에나, 2 : 아 맞어 키로와트당 40원?, 1...","[1 : 전기료가 오른다네... 세상에나, 2 : 아 맞어 키로와트당 40원?, 1..."
2,카카오톡,타 국가 이슈,1:1,1 : 미국 열차 안에서 성폭행 사건 있었대 ㅠㅠ\n2 : 열차 안에서?\n2 : ...,"[1 : 미국 열차 안에서 성폭행 사건 있었대 ㅠㅠ, 2 : 열차 안에서?, 2 :...","[1 : 미국 열차 안에서 성폭행 사건 있었대 ㅠㅠ, 2 : 열차 안에서? 2 : ..."
3,카카오톡,군대,1:1,1 : 남자친구는 육군 나왔어~?\n2 : 육군 나왔어ㅋ 50사단인가?\n1 : 육...,"[1 : 남자친구는 육군 나왔어~?, 2 : 육군 나왔어ㅋ 50사단인가?, 1 : ...","[1 : 남자친구는 육군 나왔어~?, 2 : 육군 나왔어ㅋ 50사단인가?, 1 : ..."
4,카카오톡,영화/만화,1:1,1 : 너는 최근에 무슨 영화 봤어? 키키\n2 : 최근에 영화관 간 기억이 없네요...,"[1 : 너는 최근에 무슨 영화 봤어? 키키, 2 : 최근에 영화관 간 기억이 없네...","[1 : 너는 최근에 무슨 영화 봤어? , 2 : 최근에 영화관 간 기억이 없네요,..."

In [21]:
df_temp.content[0]

['1 : 이제 위드 코로나 하면 회식 시작하겠구만 ',
 '2 : 11월달부터 위드 코로나 하려나 보던데요 ',
 '1 : 그러게 슬슬 준비하고 있네 ',
 '2 :  회식 좋아하는 사람들에게 희소식이겠네요',
 '1 : 그러게  신입 사원들은 이제 큰일이네',
 '2 : 아 그렇겠네요  2 : 신입들은 회식을 피하고 싶겠네요',
 '1 :  뭐 글도 올라온대  회식 어떻게 하냐고',
 '2 :  회식 문화 좀 사라질 줄 알았는데 더 가열차지는 거 아니에요',
 '1 :  그러게  난리 나겠다 1 : 진짜 송년회 신년회 다 할 듯',
 '2 : 와  생각만 해도 술 냄새 나네요 ',
 '1 :  이제 술술술 시작인가요 ',
 '2 :  전 술 좋아해서 별 생각 없긴 한데',
 '1 :  뭐 그러면 공짜 술 먹고 좋지 1 : 아직 체력이 좋네',
 '2 :  형은 회식 별로 안 좋아하나 봐요?',
 '1 : 좋아는 하지만 이제 다음날 출근이 힘들어서  1 : 출근 안 하고 회식했으면']

###

### 구조 변경

In [22]:
df_transform = df_temp.content.swifter.apply(lambda x: pd.Series(x))

Pandas Apply:   0%|          | 0/64048 [00:00<?, ?it/s]

<ipython-input-22-6d99aa01514a>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df_transform = df_temp.content.swifter.apply(lambda x: pd.Series(x))

In [23]:
df_transform.head(3)

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,1 : 이제 위드 코로나 하면 회식 시작하겠구만,2 : 11월달부터 위드 코로나 하려나 보던데요,1 : 그러게 슬슬 준비하고 있네,2 : 회식 좋아하는 사람들에게 희소식이겠네요,1 : 그러게 신입 사원들은 이제 큰일이네,2 : 아 그렇겠네요 2 : 신입들은 회식을 피하고 싶겠네요,1 : 뭐 글도 올라온대 회식 어떻게 하냐고,2 : 회식 문화 좀 사라질 줄 알았는데 더 가열차지는 거 아니에요,1 : 그러게 난리 나겠다 1 : 진짜 송년회 신년회 다 할 듯,2 : 와 생각만 해도 술 냄새 나네요,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 : 전기료가 오른다네... 세상에나,2 : 아 맞어 키로와트당 40원?,1 : 안 오르는 게 없어요,2 : 물가는 다 오르는데 인건비는 왜.,1 : 알제 전기료 오르면 모든 게 다 오른다고,2 : 도대체 인건비는 왜 안 오르냐고,1 : 내 말이 또 최저 시급은 오르던데,2 : 아니 인건비가 아니라 임금이지,1 : 월급은 최저 시급이랑 노 상관인 듯,2 : 아니 진짜 너무하네,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1 : 미국 열차 안에서 성폭행 사건 있었대 ㅠㅠ,2 : 열차 안에서? 2 : 그게 가능한 일이야?,1 : 그니깐 ㅜㅜ밤에 그랬대 ㅜㅜ 1 : 주위에 사람들 있었다는데 다들 무관심했나 봐,2 : 거기 안에 있던 사람들이 방관한 건 아니지?,1 : 했지 1 : 심지어 찍는 사람도 있었대 ㅜㅜ 1 : 다들 911에 신고는 안...,2 : 헐 그게 뭐야 2 : 다들 미친 거 아니야?,1 : 내 말이 ㅜㅜ 1 : 사십분 뒤에야 경찰 왔다더라,2 : 그 여자 되게 충격에 빠졌겠는 걸... 2 : 촬영한 사람들도 불법 아니야?,1 : 그래서 승객들도 촬영했는지 조사 중이래,2 : 어 그거 진짜 확인 잘 해야 될 거 같은데 그 사람 나중에 자살해봐,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df = df_transform.stack().reset_index()

In [25]:
df.rename(columns={'level_0' : 'room_no', 0 : 'content'}, inplace=True)

In [26]:
df.head(20)

    room_no  level_1                                         content
0         0        0                     1 : 이제 위드 코로나 하면 회식 시작하겠구만
1         0        1                     2 : 11월달부터 위드 코로나 하려나 보던데요
2         0        2                             1 : 그러게 슬슬 준비하고 있네
3         0        3                      2 :  회식 좋아하는 사람들에게 희소식이겠네요
4         0        4                        1 : 그러게  신입 사원들은 이제 큰일이네
5         0        5              2 : 아 그렇겠네요  2 : 신입들은 회식을 피하고 싶겠네요
6         0        6                      1 :  뭐 글도 올라온대  회식 어떻게 하냐고
7         0        7          2 :  회식 문화 좀 사라질 줄 알았는데 더 가열차지는 거 아니에요
8         0        8           1 :  그러게  난리 나겠다 1 : 진짜 송년회 신년회 다 할 듯
9         0        9                         2 : 와  생각만 해도 술 냄새 나네요
10        0       10                              1 :  이제 술술술 시작인가요
11        0       11                        2 :  전 술 좋아해서 별 생각 없긴 한데
12        0       12             1 :  뭐 그러면 공짜 술 먹고 좋지 1 : 아직 체력이 좋네
13        0       13                        2 :  형은 회식 별로 안 좋아하나 봐요?
14        0       14  1 : 좋아는 하지만 이제 다음날 출근이 힘들어서  1 : 출근 안 하고 회식했으면
15        1        0                           1 : 전기료가 오른다네... 세상에나
16        1        1                             2 : 아 맞어 키로와트당 40원?
17        1        2                                 1 : 안 오르는 게 없어요
18        1        3                          2 : 물가는 다 오르는데 인건비는 왜.
19        1        4                      1 : 알제 전기료 오르면 모든 게 다 오른다고

###

### make speaker

In [27]:
df['speaker'] = df.content.swifter.apply(lambda x: x[:1])

Pandas Apply:   0%|          | 0/726909 [00:00<?, ?it/s]

In [28]:
df = df[['content', 'room_no', 'speaker']]

In [29]:
df.head()

                       content  room_no speaker
0  1 : 이제 위드 코로나 하면 회식 시작하겠구만         0       1
1  2 : 11월달부터 위드 코로나 하려나 보던데요         0       2
2          1 : 그러게 슬슬 준비하고 있네         0       1
3   2 :  회식 좋아하는 사람들에게 희소식이겠네요        0       2
4     1 : 그러게  신입 사원들은 이제 큰일이네        0       1

###

### 1 : 2 : 제거 & 빈칸 제거

In [30]:
df['content'] = df.content.swifter.apply(lambda x: re.sub('([0-9])+ :', '', x))

Pandas Apply:   0%|          | 0/726909 [00:00<?, ?it/s]

In [31]:
df['content'] = df.content.swifter.apply(lambda x: x.strip().replace('  ', ' '))

Pandas Apply:   0%|          | 0/726909 [00:00<?, ?it/s]

In [32]:
df.head(20)

                                   content  room_no speaker
0                   이제 위드 코로나 하면 회식 시작하겠구만        0       1
1                   11월달부터 위드 코로나 하려나 보던데요        0       2
2                           그러게 슬슬 준비하고 있네        0       1
3                    회식 좋아하는 사람들에게 희소식이겠네요        0       2
4                      그러게 신입 사원들은 이제 큰일이네        0       1
5               아 그렇겠네요  신입들은 회식을 피하고 싶겠네요        0       2
6                     뭐 글도 올라온대 회식 어떻게 하냐고        0       1
7        회식 문화 좀 사라질 줄 알았는데 더 가열차지는 거 아니에요        0       2
8              그러게 난리 나겠다 진짜 송년회 신년회 다 할 듯        0       1
9                        와 생각만 해도 술 냄새 나네요        0       2
10                            이제 술술술 시작인가요        0       1
11                     전 술 좋아해서 별 생각 없긴 한데        0       2
12              뭐 그러면 공짜 술 먹고 좋지 아직 체력이 좋네        0       1
13                     형은 회식 별로 안 좋아하나 봐요?        0       2
14  좋아는 하지만 이제 다음날 출근이 힘들어서  출근 안 하고 회식했으면        0       1
15                       전기료가 오른다네... 세상에나        1       1
16                         아 맞어 키로와트당 40원?        1       2
17                             안 오르는 게 없어요        1       1
18                      물가는 다 오르는데 인건비는 왜.        1       2
19                  알제 전기료 오르면 모든 게 다 오른다고        1       1

###

In [33]:
# result_data = []

# for k, v in enumerate(df_temp.iterrows()):
#     temp_data = v[1]['content'].replace('1 :', ' 1 :').replace('2 :', ' 2 :').replace(' :  ', ':').replace(' : ', ':')
#     split_data = temp_data.split('  ')
#     split_data = [i.replace(' 1:', '1:').replace(' 2:', '2:') for i in split_data]

#     result = []
#     for kk, vv in enumerate(split_data):
#         if len(result) != 0:
#             if result[kk-1].startswith('1:') and vv.startswith('1:'):
#                 result.append(str(result[kk-1]) + " " + vv)
#                 continue
#             elif result[kk-1].startswith('2:') and vv.startswith('2:'):
#                 result.append(str(result[kk-1]) + " " + vv)
#                 continue
#             elif not vv.startswith('1:') and not vv.startswith('2:'):
#                 result.append(str(result[kk-1]) + " " + vv)
#                 continue
#         result.append(vv)
    
#     result2 = []
#     for kkk, vvv in enumerate(result):
#         if kkk != len(result)-1:
#             if result[kkk+1].startswith(result[kkk]):
#                 pass
#             else:
#                 result2.append(result[kkk])

#     result_data.append(result2)

###

# Create DefaultDict & DataFrame

In [34]:
# import pandas as pd
# from collections import defaultdict

In [35]:
# result_dict = defaultdict(list)

# for k, v in enumerate(result_data):
#     for kk, vv in enumerate(v):
#         result_dict[f"{k}_{kk}"].append(vv)

In [36]:
# df = pd.DataFrame.from_dict(result_dict, orient='index')

In [37]:
# df.reset_index(inplace=True)

In [38]:
# df.head()

In [39]:
# df.rename(columns={0:'content', 'index':'room'}, inplace=True)

In [40]:
# df['room_no'] = df.room.apply(lambda x: x[:1])

In [41]:
# df['speaker'] = df.content.apply(lambda x: x[:1])

In [42]:
# df['content'] = df.content.apply(lambda x: x.replace('1:', '').replace('2:', ''))

In [43]:
# del df['room']

In [44]:
# df.head(20)

In [45]:
# df.shape

#

# json save

In [46]:
import json
import config

In [47]:
df.head()

                  content  room_no speaker
0  이제 위드 코로나 하면 회식 시작하겠구만        0       1
1  11월달부터 위드 코로나 하려나 보던데요        0       2
2          그러게 슬슬 준비하고 있네        0       1
3   회식 좋아하는 사람들에게 희소식이겠네요        0       2
4     그러게 신입 사원들은 이제 큰일이네        0       1

In [48]:
temp_dict = [{"content": row['content'], "room_no": row['room_no'], "speaker": row['speaker']} for _, row in df.iterrows()]

In [49]:
with open(config.train_json, 'w', encoding='utf-8') as f:
    for line in temp_dict:
        json_record = json.dumps(line, ensure_ascii=False)
        f.write(json_record + '\n')