# Data Load

In [1]:
import config
from pshmodule.utils import filemanager as fm

In [2]:
df = fm.load(config.data_path)

extension : .pickle
Loaded 87689 records from /home/jovyan/shpark-datashare/data/practice/generation_model/data/data.pickle

In [3]:
df.head()

,medianame,annotations.subject,annotations.speaker_type,annotations.text
0,카카오톡,회사/아르바이트,1:1,1 : 이제 위드 코로나 하면 회식 시작하겠구만 키키\n2 : 11월달부터 위드 코...
1,카카오톡,사회이슈,1:1,1 : 전기료가 오른다네... 세상에나\n2 : 아 맞어 키로와트당 40원?\n1 ...
2,카카오톡,계절/날씨,다자간 대화,1 : 오늘 아침에 비 많이 왔쪄 ㅠ\n2 : 맞아요 ㅠㅠ 지난 새벽부터 엄청 내렸...
3,카카오톡,교통,다자간 대화,1 : 비행기 타고 싶다\n2 : 진짜 언제 탈 수 있네 **이랑 탄 게 마지막.....
4,카카오톡,타 국가 이슈,1:1,1 : 미국 열차 안에서 성폭행 사건 있었대 ㅠㅠ\n2 : 열차 안에서?\n2 : ...

###

# EDA

In [4]:
print(df['annotations.text'][30000])

1 : 샘그때 어머님 환갑 준비한다고 하셨는데 뭐해요 키키
2 : 쌤 안그래도 물어볼려고 했는데
2 : 쌤 아버님 환갑때 식사 어디서 하셨나요?
1 : 샘도 자주가는 오리고기집이요 키키
1 : 이름이 기억안나네
1 : **동에 있는데
2 : 아! 솔밭가든이요
2 : 울산 오리고기 하면 솔밭가든이죠 키키
2 : 근데 요즘 코로나때문에 식사나 할 수 있을지 모르겠어요
1 : 아 샘 그러면 집에서 먹어야겠네요
1 : 생각해놓은거있어요? 키키
2 : 12월이라서 상황을 지켜봐야할거 같긴한데...
2 : 집에서 먹으면 배달 음식 먹겠죠? 키키
2 : 쌤 혹시... 선물은 그냥 용돈이였나요?
1 : 아 샘 12월이면 아직 멀었네 키키
1 : 준비할 시간이 많군요
1 : 네샘 현금드렸습니다 ...
1 : 현금 제일 좋아하실것같아요 키키
2 : sns 보니까 풍선 현수막 이런거 이쁘게 많이 하더라고요
2 : 검색 좀 해봐야겠어요 키키

In [5]:
df.shape

(87689, 4)

In [6]:
print(df['medianame'].value_counts())
print("-"*30)
print(df['annotations.subject'].value_counts())
print("-"*30)
print(df['annotations.speaker_type'].value_counts())

카카오톡     71783
페이스북      7918
인스타그램     4777
네이버밴드     1614
네이트온      1597
Name: medianame, dtype: int64
------------------------------
미용          4675
스포츠/레저      4642
교육          4575
가족          4521
상거래 전반      4514
영화/만화       4503
교통          4474
여행          4464
회사/아르바이트    4459
건강          4454
연애/결혼       4356
게임          4352
계절/날씨       4347
방송/연예       4323
사회이슈        4281
주거와 생활      4259
반려동물        4234
군대          4151
식음료         4132
타 국가 이슈     3969
상거래전반          4
Name: annotations.subject, dtype: int64
------------------------------
1:1       64048
다자간 대화    23641
Name: annotations.speaker_type, dtype: int64

###

# Preprocessing

In [7]:
import re

In [8]:
def preprocessing(x):
    result = x.replace('\n', ' ').replace('키키', '').replace('하하', '').replace('ㅡㅡ', '').replace('ㅜㅜ', '').replace('ㅠ', '').replace('ㅠㅠ', '').replace('ㅋ', '').replace('ㅎ', '')
    result = result.lower()
    # result = re.sub(r'[.,-~?]', '', result)
    return result

In [9]:
df_temp = df[df['annotations.speaker_type'] == '1:1']

In [10]:
df_temp['content'] = df['annotations.text'].apply(preprocessing)

<ipython-input-10-40832db47ac0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['content'] = df['annotations.text'].apply(preprocessing)

In [11]:
df_temp.tail(10)

,medianame,annotations.subject,annotations.speaker_type,annotations.text,content
87669,네이트온,가족,1:1,1 : 가족들 자주만나?\n2 : 요즘은 바빠서 못 뵌지 오래됐어\n1 : 그치? ...,1 : 가족들 자주만나? 2 : 요즘은 바빠서 못 뵌지 오래됐어 1 : 그치? 한달...
87673,네이트온,교육,1:1,1 : 큰 손녀가 수학학원에서 선생님 말씀을 존중하지 않았다고 합니다.\n2 : 어...,1 : 큰 손녀가 수학학원에서 선생님 말씀을 존중하지 않았다고 합니다. 2 : 어떤...
87675,네이트온,교육,1:1,1 : 나 어제 요리학원에서 시험을 봤는데 재시험보래요.\n2 : 떨어진거예요? 공...,1 : 나 어제 요리학원에서 시험을 봤는데 재시험보래요. 2 : 떨어진거예요? 공부...
87677,네이트온,방송/연예,1:1,1 : TV 프로그램 뭐 좋아해?\n2 : 저는 런닝맨 좋아해요\n2 : 언니는요?...,1 : tv 프로그램 뭐 좋아해? 2 : 저는 런닝맨 좋아해요 2 : 언니는요? 1...
87678,네이트온,미용,1:1,1 : 나 어깨가 너무 굽었어 ㅠㅠ\n2 : 진짜 일자 어깨 너무 부러워\n1 : ...,1 : 나 어깨가 너무 굽었어 2 : 진짜 일자 어깨 너무 부러워 1 : 그러니까...
87681,네이트온,미용,1:1,1 : 너 공짜로 머리하는법 알아?\n2 : 공짜로? 어떻게 하는데?\n1 : 인터...,1 : 너 공짜로 머리하는법 알아? 2 : 공짜로? 어떻게 하는데? 1 : 인터넷에...
87682,네이트온,반려동물,1:1,1 : 요즘 코로나 시대로 인해서 반려 동물을 많이 찾는다고 하는데 키우고 싶은 반...,1 : 요즘 코로나 시대로 인해서 반려 동물을 많이 찾는다고 하는데 키우고 싶은 반...
87683,네이트온,계절/날씨,1:1,1 : 낮은 나름 덥고 밤에는 엄청 추워ㅠㅠ\n2 : 맞아 그래서 감기 걸리기 딱 ...,1 : 낮은 나름 덥고 밤에는 엄청 추워 2 : 맞아 그래서 감기 걸리기 딱 좋은 ...
87685,네이트온,교육,1:1,1 : 요즘 교육비 너무 많이 들어\n2 : 그러게 말이야\n1 : 유치원때부터 시...,1 : 요즘 교육비 너무 많이 들어 2 : 그러게 말이야 1 : 유치원때부터 시작이...
87688,네이트온,교육,1:1,1 : 친구 대학원 등록했대\n2 : 와 공부에 대한 열정이 대단하다\n1 : 나는...,1 : 친구 대학원 등록했대 2 : 와 공부에 대한 열정이 대단하다 1 : 나는 학...

In [12]:
print(df['annotations.text'][87688])
print(df_temp.content[87688])

1 : 친구 대학원 등록했대
2 : 와 공부에 대한 열정이 대단하다
1 : 나는 학교 졸업하고 전공 접은지 오래야
2 : 나도 거의 회사일만 했는데
1 : 이번에 석사 준비한대
2 : 회사 다니면서 다닌대?
1 : 응 야간대학원이라 병행한대
2 : 허락해준 회사도 대단하다
1 : 그 친구 아마 박사도 노릴건가봐
2 : 나도 공부에 뜻이 있었으면 좋겠다
1 : 친구 대학원 등록했대 2 : 와 공부에 대한 열정이 대단하다 1 : 나는 학교 졸업하고 전공 접은지 오래야 2 : 나도 거의 회사일만 했는데 1 : 이번에 석사 준비한대 2 : 회사 다니면서 다닌대? 1 : 응 야간대학원이라 병행한대 2 : 허락해준 회사도 대단하다 1 : 그 친구 아마 박사도 노릴건가봐 2 : 나도 공부에 뜻이 있었으면 좋겠다

In [13]:
df_temp.reset_index(drop=True, inplace=True)

In [14]:
df_temp.head()

,medianame,annotations.subject,annotations.speaker_type,annotations.text,content
0,카카오톡,회사/아르바이트,1:1,1 : 이제 위드 코로나 하면 회식 시작하겠구만 키키\n2 : 11월달부터 위드 코...,1 : 이제 위드 코로나 하면 회식 시작하겠구만 2 : 11월달부터 위드 코로나 ...
1,카카오톡,사회이슈,1:1,1 : 전기료가 오른다네... 세상에나\n2 : 아 맞어 키로와트당 40원?\n1 ...,1 : 전기료가 오른다네... 세상에나 2 : 아 맞어 키로와트당 40원? 1 : ...
2,카카오톡,타 국가 이슈,1:1,1 : 미국 열차 안에서 성폭행 사건 있었대 ㅠㅠ\n2 : 열차 안에서?\n2 : ...,1 : 미국 열차 안에서 성폭행 사건 있었대 2 : 열차 안에서? 2 : 그게 가...
3,카카오톡,군대,1:1,1 : 남자친구는 육군 나왔어~?\n2 : 육군 나왔어ㅋ 50사단인가?\n1 : 육...,1 : 남자친구는 육군 나왔어~? 2 : 육군 나왔어 50사단인가? 1 : 육군 5...
4,카카오톡,영화/만화,1:1,1 : 너는 최근에 무슨 영화 봤어? 키키\n2 : 최근에 영화관 간 기억이 없네요...,1 : 너는 최근에 무슨 영화 봤어? 2 : 최근에 영화관 간 기억이 없네요 1 ...

###

# Transform

In [15]:
result_data = []

for k, v in enumerate(df_temp.iterrows()):
    temp_data = v[1]['content'].replace('1 :', ' 1 :').replace('2 :', ' 2 :').replace(' :  ', ':').replace(' : ', ':')
    split_data = temp_data.split('  ')
    split_data = [i.replace(' 1:', '1:').replace(' 2:', '2:') for i in split_data]

    result = []
    for kk, vv in enumerate(split_data):
        if len(result) != 0:
            if result[kk-1].startswith('1:') and vv.startswith('1:'):
                result.append(str(result[kk-1]) + " " + vv)
                continue
            elif result[kk-1].startswith('2:') and vv.startswith('2:'):
                result.append(str(result[kk-1]) + " " + vv)
                continue
            elif not vv.startswith('1:') and not vv.startswith('2:'):
                result.append(str(result[kk-1]) + " " + vv)
                continue
        result.append(vv)
    
    result2 = []
    for kkk, vvv in enumerate(result):
        if kkk != len(result)-1:
            if result[kkk+1].startswith(result[kkk]):
                pass
            else:
                result2.append(result[kkk])

    result_data.append(result2)

In [16]:
print(result_data)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

###

# Create DefaultDict & DataFrame

In [17]:
import pandas as pd
from collections import defaultdict

In [18]:
result_dict = defaultdict(list)

for k, v in enumerate(result_data):
    for kk, vv in enumerate(v):
        result_dict[f"{k}_{kk}"].append(vv)

In [19]:
df = pd.DataFrame.from_dict(result_dict, orient='index')

In [20]:
df.reset_index(inplace=True)

In [21]:
df.head()

  index                         0
0   0_0  1:이제 위드 코로나 하면 회식 시작하겠구만
1   0_1  2:11월달부터 위드 코로나 하려나 보던데요
2   0_2          1:그러게 슬슬 준비하고 있네
3   0_3   2:회식 좋아하는 사람들에게 희소식이겠네요
4   0_4     1:그러게 신입 사원들은 이제 큰일이네

In [22]:
df.rename(columns={0:'content', 'index':'room'}, inplace=True)

In [23]:
df['room_no'] = df.room.apply(lambda x: x[:1])

In [24]:
df['speaker'] = df.content.apply(lambda x: x[:1])

In [25]:
df['content'] = df.content.apply(lambda x: x.replace('1:', '').replace('2:', ''))

In [26]:
del df['room']

In [27]:
df.head(20)

                                  content room_no speaker
0                  이제 위드 코로나 하면 회식 시작하겠구만       0       1
1                  11월달부터 위드 코로나 하려나 보던데요       0       2
2                          그러게 슬슬 준비하고 있네       0       1
3                   회식 좋아하는 사람들에게 희소식이겠네요       0       2
4                     그러게 신입 사원들은 이제 큰일이네       0       1
5               아 그렇겠네요 신입들은 회식을 피하고 싶겠네요       0       2
6                    뭐 글도 올라온대 회식 어떻게 하냐고       0       1
7       회식 문화 좀 사라질 줄 알았는데 더 가열차지는 거 아니에요       0       2
8             그러게 난리 나겠다 진짜 송년회 신년회 다 할 듯       0       1
9                       와 생각만 해도 술 냄새 나네요       0       2
10                           이제 술술술 시작인가요       0       1
11                    전 술 좋아해서 별 생각 없긴 한데       0       2
12             뭐 그러면 공짜 술 먹고 좋지 아직 체력이 좋네       0       1
13                    형은 회식 별로 안 좋아하나 봐요?       0       2
14  좋아는 하지만 이제 다음날 출근이 힘들어서 출근 안 하고 회식했으면       0       1
15                      전기료가 오른다네... 세상에나       1       1
16                        아 맞어 키로와트당 40원?       1       2
17                            안 오르는 게 없어요       1       1
18                     물가는 다 오르는데 인건비는 왜.       1       2
19                 알제 전기료 오르면 모든 게 다 오른다고       1       1

In [28]:
df.shape

(727031, 3)

#

# Data Save

In [29]:
fm.save(config.train_pickle, df)

Saved 727031 records

#

# json save

In [1]:
import json
import config
from pshmodule.utils import filemanager as fm

In [2]:
df = fm.load(config.train_pickle)

extension : .pickle
Loaded 727031 records from /home/jovyan/shpark-datashare/data/practice/generation_model/data/train.pickle

In [3]:
df.head()

                  content room_no speaker
0  이제 위드 코로나 하면 회식 시작하겠구만       0       1
1  11월달부터 위드 코로나 하려나 보던데요       0       2
2          그러게 슬슬 준비하고 있네       0       1
3   회식 좋아하는 사람들에게 희소식이겠네요       0       2
4     그러게 신입 사원들은 이제 큰일이네       0       1

In [4]:
temp_dict = [{"content": row['content'], "room_no": row['room_no'], "speaker": row['speaker']} for _, row in df.iterrows()]

In [5]:
with open(config.train_json, 'w', encoding='utf-8') as f:
    for line in temp_dict:
        json_record = json.dumps(line, ensure_ascii=False)
        f.write(json_record + '\n')