# Data Load

In [2]:
import config
from pshmodule.utils import filemanager as fm

In [3]:
df = fm.load(config.data_path)

extension : .pickle
Loaded 87689 records from /home/jovyan/shpark-datashare/practice/generation_model/data/data.pickle

In [4]:
df.head()

,medianame,annotations.subject,annotations.speaker_type,annotations.text
0,카카오톡,회사/아르바이트,1:1,1 : 이제 위드 코로나 하면 회식 시작하겠구만 키키\n2 : 11월달부터 위드 코...
1,카카오톡,사회이슈,1:1,1 : 전기료가 오른다네... 세상에나\n2 : 아 맞어 키로와트당 40원?\n1 ...
2,카카오톡,계절/날씨,다자간 대화,1 : 오늘 아침에 비 많이 왔쪄 ㅠ\n2 : 맞아요 ㅠㅠ 지난 새벽부터 엄청 내렸...
3,카카오톡,교통,다자간 대화,1 : 비행기 타고 싶다\n2 : 진짜 언제 탈 수 있네 **이랑 탄 게 마지막.....
4,카카오톡,타 국가 이슈,1:1,1 : 미국 열차 안에서 성폭행 사건 있었대 ㅠㅠ\n2 : 열차 안에서?\n2 : ...